---

# Default
locationprovider:
  name: "freegeoipapp"
  url: "https://freegeoip.app/json"

# https://github.com/TwistTheNeil/rest-geoip
# locationprovider:
#   name: "restgeoip"
#   url: "https://your.url/api/geoip"

openweathermap:
  apikey: your-owm-key-here
